extends layout

block content
	h1= 'Team Members:'
	ul
		li
			a(href='mailto:aababtain@gmail.com') Abdulrahman Ababtain (008720868)
		li
			a(href='mailto:nandy.thiagu@gmail.com') Nandhitha Thiagarajan (009342775)
		li
			a(href='mailto:sruthivalsakumaran@gmail.com') Sruthi Nair (008127795)
		li
			a(href='mailto:priyajune.r@gmail.com') Vishnu Priya
		li
			a(href='mailto:preetham.muscr@sjsu.edu') Preetham Muscr